div.Table_01 {
	position:absolute;
	left:0px;
	top:120px;
	width:840px;
	height:585px;
	
}

div.newdesign-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:840px;
	height:501px;
	background: url(images3/newdesign_01.png);
}

div.newdesign-02 {
	position:absolute;
	left:0px;
	top:501px;
	width:171px;
	height:84px;
	background: url(images3/newdesign_02.png);
}

div.newdesign-03 {
	position:absolute;
	left:171px;
	top:501px;
	width:24px;
	height:24px;
}


div.newdesign-04 {
	position:absolute;
	left:195px;
	top:501px;
	width:25px;
	height:84px;
	background: url(images3/newdesign_04.png);
}

div.newdesign-05 {
	position:absolute;
	left:220px;
	top:501px;
	width:24px;
	height:24px;
}

div.newdesign-06 {
	position:absolute;
	left:244px;
	top:501px;
	width:25px;
	height:84px;
	background: url(images3/newdesign_06.png);
}

div.newdesign-07 {
	position:absolute;
	left:269px;
	top:501px;
	width:24px;
	height:24px;
}

div.newdesign-08 {
	position:absolute;
	left:293px;
	top:501px;
	width:25px;
	height:84px;
	background: url(images3/newdesign_08.png);
}

div.newdesign-09 {
	position:absolute;
	left:318px;
	top:501px;
	width:24px;
	height:24px;
}

div.newdesign-10 {
	position:absolute;
	left:342px;
	top:501px;
	width:498px;
	height:84px;
	background: url(images3/newdesign_10.png);
}

div.newdesign-11 {
	position:absolute;
	left:171px;
	top:525px;
	width:24px;
	height:60px;
	background: url(images3/newdesign_11.png);
}

div.newdesign-12 {
	position:absolute;
	left:220px;
	top:525px;
	width:24px;
	height:60px;
	background: url(images3/newdesign_12.png);
}

div.newdesign-13 {
	position:absolute;
	left:269px;
	top:525px;
	width:24px;
	height:60px;
	background: url(images3/newdesign_13.png);
}


div.newdesign-14 {
	position:absolute;
	left:318px;
	top:525px;
	width:24px;
	height:60px;
	background: url(images3/newdesign_14.png);
}