
body {

	font: 13px/16px Arial, Tahoma, sans-serif;
	color: #656565;
	
	background: url(grey.png) repeat top left;
}
ol, ul { list-style: none; }
* {
	margin: 0;
	outline: none;
	padding: 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

a, a:hover { color: #000; text-decoration: none; }


.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after { clear: both; }

.left { float:left; }
.right { float:right; }

@font-face {
	font-family:AdobeGothicStd-Bold;
	src:url(../fonts/AdobeGothicStd-Bold.otf);
}
@font-face {
	font-family:calibri;
	src:url(../fonts/calibri.ttf);
}
@font-face {
	font-family:calibrib;
	src:url(../fonts/calibrib.ttf);
}
@font-face {
	font-family:calibrii;
	src:url(../fonts/calibrii.ttf);
}
@font-face {
	font-family:calibriz;
	src:url(../fonts/calibriz.ttf);
}

/************************ ОБЩИЕ СТИЛИ ************************/

.wraper {
	width: 1150px;
	margin: 0 auto;
	
}
.container {
	margin-top: 3%;
	/*overflow: hidden;*/
}

/************************ МЕНЮ ************************/
.menu {
	width: 25%;
	margin-right: 20px;
	background: #444;
	display: block;
	min-height: 710px;
	overflow: hidden;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
		-ms-border-radius: 20px;
		 -o-border-radius: 20px;
			border-radius: 20px;
}
.menu li {
	display: block;
	height: 60px;
	background: #444;
	border-bottom: 1px solid #525C5F;
	font: 19px 'calibrib';
	line-height: 60px;
	position: relative;
}
.menu li a {
	color: #C3C8C9;
	margin-left: 15%;
}
.menu li a:hover { color: #fff; }
.menu li span {
	position: absolute;
	right: 30px;
	width: 30px;
	height: 30px;
	top: 15px;
	background: #4B5558;
	text-align: center;
	line-height: 30px;

	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
		-ms-border-radius: 50%;
		 -o-border-radius: 50%;
			border-radius: 50%;
}
.menu li a:hover span {
	box-shadow: 0 0 1px 0 rgba(255,255,255,0.4);
}
.menu li i {
	width: 35px;
	height: 35px;
	display: inline-block;
	position: relative;                               
	top: 13px;
	right: 20px;
      
	-webkit-border-radius: 50%;                     
	   -moz-border-radius: 50%;
		-ms-border-radius: 50%;
		 -o-border-radius: 50%;
			border-radius: 50%;
}

/************************ siyah-linkler ************************/
.Profilei { background:  #4B9BE6 url(yeni.png) no-repeat center center; }
.Meet { background:  #45C4E7  url(devices.png) no-repeat center center; }
.Messages { background:  #51C08A  url(message.png) no-repeat center center; }
.FeaturedM { background:  #96D145 url(cam.png) no-repeat center center; }
.AnonymousQ { background:  #E9C620  url(istatistik.png) no-repeat center center; }
.ProfileP { background:  #E7A044  url(senaryo.png) no-repeat center center; }
.Rating { background:  #DB755C url(logout.png) no-repeat center center; }

.menu .active {
	background: #444;
	height: auto;
}
.menu .active a {
	color: #fff;
}
.active ul { 
	display: none;
	padding: 20px 10%;
	border-top: 1px solid #525C5F;

/*	-webkit-transition: all 1s ease-out 0.5s;
       -moz-transition: all 1s ease-out 0.5s;
    	 -o-transition: all 1s ease-out 0.5s;
    		transition: all 1s ease-out 0.5s;*/
}
.menu .active li {
	
	font: 15px 'calibrib';
	background: #4B5558 url(http://imageshack.com/a/img901/4166/HenjSX.png) no-repeat 93% center;
	border-radius: 50px;
	height: 40px;
	line-height: 40px;
	margin-bottom: 15px;
}
.active li a {
	color: #fff;
	display: block;
}
.active li a:hover { text-decoration: underline; }
.active .Omenu { display: block; }

/************************ orta-beyaz ************************/

.profile {
	width: 840px;
	background: #fff;
	border: 1px solid #E1E3E3;
	float: left;
	min-height: 710px;
	border-radius: 10px;
	position: relative;
	z-index: 9999;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
		-ms-border-radius: 10px;
		 -o-border-radius: 10px;
			border-radius: 10px;
}

/******************* kullanıcıadi ********************/


.header {
	height: 120px;
	border-bottom: 1px solid #E1E3E3;
	padding: 0 18px;
}

.header h2 {
	font: 40px 'calibri';
	margin-top: 35px;
}
.header h3{
	
	font: 20px 'calibri';
	margin-top: 0px;
	}

/************************ profil-resmi ************************/
.bottoms { margin-top: 12px; }
.bottom {
	width: 80px;
	height: 80px;
	background: #fff;
	float: left;
	margin-right: 20px;
	
	border: 5px solid #fff;
	overflow: hidden;

	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
		-ms-border-radius: 50%;
		 -o-border-radius: 50%;
			border-radius: 50%;
}
.bottom:last-child { margin-right: 0; }

.bottom a {
/*	position: relative;	
	bottom: 3px;*/
	display: block;
	color: #fff;
	font-size: 15px;
	padding-left: 28px;
	margin-top: 49px;
	padding-top: 2px;
	border-top: 1px solid rgba(0,0,0,.1);
}
.bottom a:hover { color: #3B4548; }

.overlay {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
    z-index: 15;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 130px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 42%;
  height: 57%;
  position: relative;
  transition: all 5s ease-in-out;
z-index: 16;

}
.popup .other{
	overflow-y: scroll;
	width: 100%;
  height: 66%;
   position: relative;
	}

.popup h2 {
  margin-top: 0;
  padding-bottom:10px;
  color: #333;
  font-family:'Oswald', sans-serif;
  font-size:14px;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 35px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #F44336;
}
.popup .content {
	padding-bottom:5px;
  max-height: 40%;
    overflow: auto;
}
.popup .content2 {
	padding-bottom:5px;
  max-height: 40%;
    overflow: auto;
}
button {
   width: 20%;
  height: 35px;
  border: none;
  background:  #1abc9c;
  color: #fff;
  font-weight: 400;
  font-family:'Oswald', sans-serif;
 font-size: 15px;
  border-radius: 5px;
  transition: all ease-in-out .2s;
  border-bottom: 3px solid #1abc9c;
  margin-top:20px;
 
}

button:focus {
  outline: none;
}

button:hover {
  background: #1bc6a4;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
   border: 5px solid #eeeeee;
  background:url(new_arrow.jpg) no-repeat right #fff;
  padding: 7px 20px 7px 20px;
  width:200px;
}

.imgA1 { position:absolute; top: 135px; left: 15px; z-index: 15;} 
.imgA2 { position:absolute; top: 135px; left: 439px; z-index: 15; } 
.imgA3 { position:absolute; top: 240px; right: 13px; z-index: 15; }
.imgA4 { position:absolute; top: 380px; right: 13px; z-index: 15; }
.imgA5 { position:absolute; top: 489px; right: 13px; z-index: 15; }
.imgA6 { position:absolute; top: 548px; right: 13px; z-index: 15; }
.imgA7 { position:absolute; top: 10px; left: 78px; z-index: 15; }
.imgA8 { position:absolute; top: 85px; left: 110px; z-index: 15; }
.imgA9 { position:absolute; top: 90px; left: 90px; z-index: 15; }
.imgA10 { position:absolute; top: 0px; right: 75px; z-index: 15; }
.imgA11 { position:absolute; top: 0px; right: 90px; z-index: 15; }
.imgA12 { position:absolute; top: 0px; right: 70px; z-index: 15; }
.imgA13 { position:absolute; top: 0px; right: 70px; z-index: 13; }
.imgA14 { position:absolute; top: 405px; left: 470px; z-index: 15; }
.imgA15 { position:absolute; top: 335px; right: 13px; z-index: 15; }
.imgA16 { position:absolute; top: 335px; right: 95px; z-index: 15; }
.imgA17 { position:absolute; top: 135px; left: 343px; z-index: 15; }
.imgA18 { position:absolute; top: 183px; left: 285px; z-index: 15; }


*:before,
*:after {
  box-sizing: inherit;
}
.draggable-droppable {
  cursor: pointer;
  width: 110px;
  display: inline-block;
  margin: 10px;
  height: 100px;
  border-radius: 8px;
  padding: 2px;
  border: 2px solid transparent;
  line-height: 110px;
 z-index:15;
 position:relative;

 }
.draggable-droppable2 {
  cursor: pointer;
  width: 77px;
  display: inline-block;
  margin: 10px;
  height: 90px;
  border-radius: 8px;
  padding: 2px;
  border: 2px solid transparent;
  line-height: 70px;
 z-index:15;
 position:relative;
  top:95px;
 right:-605px;
 }
 .draggable-droppable3 {
  cursor: pointer;
  width: 55px;
  display: inline-block;
  margin: 10px;
  height: 45px;
  border-radius: 8px;
  padding: 2px;
  border: 2px solid transparent;
  line-height: 40px;
 z-index:15;
 position:relative;
  top:295px;
 right:-503px;
 }

.draggable-droppable4 {
  cursor: pointer;
  width: 110px;
  display: inline-block;
  margin: 10px;
  height: 100px;
  border-radius: 8px;
  padding: 2px;
  border: 2px solid transparent;
  line-height: 110px;
 z-index:15;
 position:relative;
  top:-5px;
 left:109px;
 }
 .draggable-droppable5 {
  cursor: pointer;
  width: 80px;
  display: inline-block;
  margin: 10px;
  height: 70px;
  border-radius: 8px;
  padding: 2px;
  border: 2px solid transparent;
  line-height: 110px;
 z-index:15;
 position:relative;
 top:246px;
 left:-65px;
 }
 .draggable-droppable6 {
  cursor: pointer;
  width: 87px;
  display: inline-block;
  margin: 10px;
  height: 100px;
  border-radius: 8px;
  padding: 2px;
  border: 2px solid transparent;
  line-height: 90px;
 z-index:15;
 position:relative;
  top:200px;
 right:-183px;
 }
  .draggable-droppable7 {
  cursor: pointer;
  width: 60px;
  display: inline-block;
  margin: 10px;
  height: 60px;
  border-radius: 8px;
  padding: 2px;
  border: 2px solid transparent;
  line-height: 60px;
 z-index:15;
 position:relative;
 top:390px;
 right:-75px;
 }
.draggable-droppable span {
  verticle-align: middle;
  display: inline-block;
  line-height: normal;
  z-index:16;
}
.draggable-droppable > [class^="box-"] {
  pointer-events: none;
}
.draggable-droppable:hover {
  box-shadow: 0 0 3px #cfd1d1;
  border:2px dashed #3a3a3a;
}
.draggable-droppable2:hover {
  box-shadow: 0 0 3px #cfd1d1;
  border:2px dashed #3a3a3a;
}
.draggable-droppable3:hover {
  box-shadow: 0 0 3px #cfd1d1;
  border:2px dashed #3a3a3a;
}
.draggable-droppable4:hover {
  box-shadow: 0 0 3px #cfd1d1;
  border:2px dashed #3a3a3a;
}
.draggable-droppable5:hover {
  box-shadow: 0 0 3px #cfd1d1;
  border:2px dashed #3a3a3a;
}
.draggable-droppable6:hover {
  box-shadow: 0 0 3px #cfd1d1;
  border:2px dashed #3a3a3a;
}
.draggable-droppable7:hover {
  box-shadow: 0 0 3px #cfd1d1;
  border:2px dashed #3a3a3a;
}
[class^="box-"] {
  height: inherit;
  text-align: center;
  border-radius: 8px;
  text-shadow: 0px 1px 1px #eee;
  box-shadow: 0 1px 2px #EAEBE8;
  height: 92px;
  width: 92px;
  z-index:16;
}
input {
  width: 50%;
  background: #bdc3c7;
  border: none;
  height: 35px;
  margin-bottom: 3%;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #7f8c8d;
  font-family:'Oswald', sans-serif; 
   margin-left:18%;
   margin-right:80px;
   
}
input.name{
	background:#bdc3c7 url(profilo2.png) no-repeat 10px 8px; 
	}
	input.email{
	background:#bdc3c7 url(emailo2.png) no-repeat 10px 8px; 
	}
	input.pass{
	background:#bdc3c7 url(pass2.png) no-repeat 10px 8px; 
	}
.pro{
	border:3px dashed #3a3a3a;	
  position: relative;
 
  height: 70px;
  width: 70px;
  background:   center center no-repeat, #bdc3c7;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  
	}
input:focus {
  outline: none;
  border:3px solid #5DC3A7; 
  
}
.üst{
	margin-top:55px;
	font: 19px 'calibrib';
	}
::-webkit-input-placeholder {
   color: grey;
}	
input[type=range] {
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-ms-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-thumb:after {
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #eee;
  border-radius: 5px;
  color: #555;
  padding: 5px 10px;
  border: 2px solid #555;
}
input[type=range]:focus::-ms-thumb:after {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #eee;
  border-radius: 5px;
  color: #555;
  padding: 5px 10px;
  border: 2px solid #555;
}
input[type=range]:focus::-moz-range-thumb:after {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #eee;
  border-radius: 5px;
  color: #555;
  padding: 5px 10px;
  border: 2px solid #555;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type=range]:focus::-ms-track {
  background: #ccc;
}

input[type=range]:focus::-moz-range-track {
  background: #ccc;
}
@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

#kontrol ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 290px;
  
}

#kontrol li {
  border-bottom: 2px solid #E1E3E3;
   text-decoration: none;
  background-color: #fff;
  color: #005f5f;
  padding: 8px 15px;
  font-size: 17px;
  display: block;
  -webkit-transition: margin-left .29s ease;
  transition: margin-left .29s ease;
}
#kontrol li:hover {
  background-color: #E0E0E0; 
}

#popscroll::-webkit-scrollbar{
width:16px;
background-color:#cccccc;
} 
#popscroll::-webkit-scrollbar-thumb{
background-color:#555;
border-radius:10px;
}
#popscroll::-webkit-scrollbar-thumb:hover{
background-color:#444;
border:1px solid #333333;
}
#popscroll::-webkit-scrollbar-thumb:active{
background-color:#444;
border:1px solid #333333;
} 
#popscroll::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:10px;
-webkit-box-shadow:0 0 6px gray inset;
} 

.sag{
	float:right;
	}
[type="file"]::-webkit-file-upload-button {
  background: #555;
  border: 1px solid #555;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 1s ease;
}
[type="file"]::-webkit-file-upload-button:hover {
  background: #333;
  border: 1px solid #444;
  color: #fff;
}
.controlp{
	  margin: 130px auto;
	
	}

#alt {
	padding-top: 50px;
	}
#deger{
	
	width:30%;
	}
input[type=checkbox] {
display:none;
}
 
input[type=checkbox] + label
{
background: url("kapali.png") no-repeat;
height: 40px;
width: 40px;
display:inline-block;
float:right;
}
input[type=checkbox]:checked + label
{

background: url("acik.png") no-repeat;
height: 40px;
width: 40px;
display:inline-bloc
float:right;
}
.gaslar{
	font-size: 32px;
  font-weight: bold;
	}
.gaslar:hover{
	color:#96D145;	
	}
.firelar {
		font-size: 32px;
  font-weight: bold;
	}
.firelar:hover{
	color:#4B9BE6;
	}
.sıcaklar{
	font-size: 32px;
  font-weight: bold;
	}
.sıcaklar:hover{
	color:#45C4E7;	
	}